<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jarvis.mahan.jarvisandroid">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bullodg_cropped"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hub"
            android:label="@string/title_activity_hub"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jarvis.mahan.jarvisandroid.MainActivity" />
        </activity>
        <activity
            android:name=".Calender"
            android:label="@string/title_activity_calender"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jarvis.mahan.jarvisandroid.MainActivity" />
        </activity>
        <activity
            android:name=".CafeMenu"
            android:label="@string/title_activity_cafe_menu"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jarvis.mahan.jarvisandroid.MainActivity" />
        </activity>
        <activity
            android:name=".detailed"
            android:label="@string/title_activity_detailed" />
        <activity
            android:name=".DetailedCafeMenu"
            android:label="@string/title_activity_detailed_cafe_menu"
            android:parentActivityName=".CafeMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jarvis.mahan.jarvisandroid.CafeMenu" />
        </activity>
        <activity
            android:name=".NewsFeed"
            android:label="@string/title_activity_news_feed"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jarvis.mahan.jarvisandroid.MainActivity" />
        </activity>
        <activity
            android:name=".DetailedNews"
            android:label="@string/title_activity_detailed_news"
            android:parentActivityName=".NewsFeed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jarvis.mahan.jarvisandroid.NewsFeed" />
        </activity>
        <activity
            android:name=".Schedule"
            android:label="@string/title_activity_schedule"
            android:parentActivityName=".Calender">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jarvis.mahan.jarvisandroid.Calender" />
        </activity>
    </application>

</manifest>
